* {
    box-sizing: border-box;
    max-width: 925px;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;   
}

#navigation {
    width: 50%;
    text-align: right;
}


#logo {
    float: left;
    height: 40px;
    margin-right: 10px;    
}

#del {
    margin-top: 1px;
    margin-bottom: 1px;
}
#description {
    margin-top: 1px;
}

#title {
    margin: 1px;
    
}